.tscache
dist/src/e2eSpecs
dist/**/*.spec.js
dist/src/index.dev*
dist/samples
dist/.env
samples
data
dockers/data
docs
node_modules
specOff
src
trash
fake
jasmine.json
nodemon.json
tsconfig.json
tslint.json
wallaby.js
.env
.env*
dockers
